<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de personas</h1>
      <!-- Property Binding --><!-- Event Binding (click) -->
      <button class="btn btn-primary" [disabled]="deshabilitar"
      (click)="agregarPersona()">Agregar persona</button>
      <p> {{ mensaje }} </p>
      <app-persona></app-persona>

      <!-- Event Binding (input)-->
      <!-- <label>Titulo persona: </label>
      <input type="text" class="form-control" (input)="modificarTitulo($event)">
      <p> {{ titulo }} </p> -->

      <!-- Two-way Binding, agregamos FormsModule en app.module.ts -->
      <label>Titulo persona: </label>
      <input type="text" class="form-control" [(ngModel)]="titulo">
      <p> {{ titulo }} </p>
    </div>
  </div>
</div>
