<form>
  <div class="form-group d-grid gap-2">
    <label class="p-2">Operando A</label>
    <input
      type="number"
      class="p-2 form-control"
      placeholder="Escribe el Operando A"
      [(ngModel)]="operandoA"
      name="operandoA"
    />
  </div>
  <div class="form-group d-grid gap-2">
    <label class="p-2">Operando B</label>
    <input
      type="number"
      class="p-2 form-control"
      placeholder="Escribe el Operando B"
      [(ngModel)]="operandoB"
      name="operandoB"
    />
  </div>
  <div class="btn-group flex-wrap" role="group">
    <button type="submit" class="btn btn-primary mt-3" (click)="sumar()">
      Sumar
    </button>
    <button type="submit" class="btn btn-secondary mt-3" (click)="restar()">
      Restar
    </button>
    <button type="submit" class="btn btn-success mt-3" (click)="multiplicar()">
      Multiplicar
    </button>
    <button type="submit" class="btn btn-light mt-3" (click)="dividir()">
      Dividir
    </button>
    <button type="submit" class="btn btn-dark mt-3" (click)="modulo()">
      Modulo
    </button>
  </div>
</form>
